---
import premier_league_logo from "../assets/images/premierleague.svg";
import la_liga from "../assets/images/laliga2-logo.svg";
import ligue_1 from "../assets/images/ligue1_menu.svg";
import bundesliga_logo from "../assets/images/bundeslogo_menu.svg";
import champions from "../assets/images/uefa-logo.svg";
import europa_league from "../assets/images/europa_league.svg";
import libertadores from "../assets/images/liberta.svg";
import brasileiro from "../assets/images/brasileiraook.svg";
import copa_do_brasil from "../assets/images/copadobrasil_logo.svg";
---

<style>
  .teste {
    filter: brightness(0) saturate(100%) invert(67%) sepia(47%) saturate(258%) hue-rotate(169deg) brightness(86%) contrast(82%);
  }
</style>

<aside class="fixed bottom-0 w-full md:w-16 md:h-screen p-3 bg-gray-900">
  <!-- <a href="#">
    <h1 class="text-nord-snow-storm-500">FootS</h1>
  </a> -->
  
    <ul role="menu" class="flex justify-center items-center gap-5 md:flex-col md:h-full text-slate-400">
      <li>
        <a href="#">
          <img src={premier_league_logo} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>
      <li>
        <a href="#">
          <img src={la_liga} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>
      <li>
        <a href="#">
          <img src={ligue_1} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>
      <li>
        <a href="#">
          <img src={bundesliga_logo} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>
      <li>
        <a href="#">
          <img src={champions} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>

      <li>
        <a href="#">
          <img src={europa_league} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>

      <li>
        <a href="#">
          <img src={libertadores} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>

      <li>
        <a href="#">
          <img src={brasileiro} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>

      <li>
        <a href="#">
          <img src={copa_do_brasil} alt="" width="24px" height="24px" class="teste hover:filter-none transition duration-150 ease-out hover:ease-in">
        </a>
      </li>
    </ul>
</aside>